@{
  Layout = "_Layout";
}
<title>Vendors List!</title>

<h1>Create a new Vendor</h1>

<form action="/vendors" method="post">
  <label for="name">Add a new vendor's name</label>
  <input id="name" name="name" type="text">
  <label for="vendorDescription">Add a new vendor's description</label>
  <input id="vendorDescription" name="vendorDescription" type="text">
  <button type="submit">Submit</button>
</form>
