@{
  Layout = "_Layout";
}
<title>Vendors List!</title>

<h1>Vendor List Details: </h1>

<h2>@Model.Name</h2>
<h2>@Model.VendorDescription</h2>

<a href='/vendors/new'>Add another vendor</a>
<a href='/vendors'>View all vendors</a>
