@* @{
  Layout = "_Layout";
  } *@


@* <h1>Welcome to Vendor and Orders Tracker!</h1> *@
@* <h1>Keep track of vendor accounts and orders they make</h1> *@
@* <h3><a href='/vendors'>Show vendors</a></h3> *@

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Vendor List!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
  <h1>Vendor List</h1>
  <ul>
    <li>@Model.Name, @Model.VendorDescription </li>
  </ul>

  <a href="/vendors/new">Add a new vendor.</a>
</body>

</html>