@{
  Layout = "_Layout";
}

<h1>@Model["order"].Title: Details</h1>

<h3>Vendor: @Model["vendor"].Name</h3>
<h4>Description: @Model["order"].OrderDescription</h4>
<h4>Price: $@Model["order"].Price</h4>
<h4>Date: @Model["order"].Date</h4>

<a href='/vendors/@Model["vendor"].Id/order/new'>Add another order to this vendor</a>
<br>
<a href='/vendors'>View all vendors</a>